* {
  font-family: sans-serif;
}

img {
  width: 100%;
}

.container {
  display: flex;
  max-width: 800px;
  flex-flow: row wrap;
}

.row {
  display: flex;
  width: 100%;
}

.col-one-third {
  flex-basis: calc(100% / 3);
}

.col-one-fourth {
  flex-basis: 25%;
}

.col-two-third {
  flex-basis: calc(100% * 2 / 3);
}
